<section class="landing_main" style="{{mainStyle()}}" ng-controller="landingController">
    <header>
        <div class="ui button login noselect animated fadeIn" ng-click="toggleLogin()">sign in</div>
        <div class="ui button register noselect animated fadeIn" ng-click="toggleRegister()">sign up</div>
    </header>
    <div class="search">
    	<h1 class="animated fadeInDown">Select your Institute: </h1>
    	<div class="search_box animated fadeIn">University of Ontario Institute of Technology</div>
    	<div class="search button noselect animated fadeInUp">Start Search</div>
    </div>
    <div class="quick_info">
    	<h4 class="animated fadeInDown">Want to learn more? Check out our Quick Tour Video</h4>
    	<div class="info button noselect animated fadeInUp">Quick Tour  <i class="fa fa-angle-right"></i></div>
    </div>
    <footer>
        <div class="mouse animated fadeIn">
            <div class="scroller">
            </div>
        </div>
        <span class="animated fadeIn">Scroll Down</span>
    </footer>
</section>
<section class="landing_info" style="{{infoStyle()}}">
	<h2>Subheading</h2>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="row">
    	<div class="large-4 columns infobox">
    		<div class="infobox-icon">
    			<i class="fa fa-archive"></i>
    		</div>
    		<h4>Subheader</h4>
    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    	</div>
    	<div class="large-4 columns infobox">
    		<div class="infobox-icon">
    			<i class="fa fa-archive"></i>
    		</div>
    		<h4>Subheader</h4>
    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    	</div>
    	<div class="large-4 columns infobox">
    		<div class="infobox-icon">
    			<i class="fa fa-archive"></i>
    		</div>
    		<h4>Subheader</h4>
    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    	</div>
    </div>
    <footer>
    	<div class="bottom">
    		<div class="row">
    			<div class="large-6 columns copyright">
    				Copyright &copy; NetworkWebsite.com, 2015. All Rights Reserved. 
    			</div>
    			<div class="large-6 columns quicklinks">
    				<ul>
    					<li>
    						<a href="">About</a>
    						<a href="">Blog</a>
    						<a href="">Contact</a>
    						<a href="">Sitemap</a>
    					</li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </footer>
</section>