<div class="spa-login-wrapper center-middle round-5">
    <h3>Alternate Login</h3>
    <hr>
    <a href="" class="alternate facebook"><i class="fa fa-facebook"></i>login using Facebook</a>
    <a href="" class="alternate twitter"><i class="fa fa-facebook"></i>login using Twitter</a>
    <a href="" class="alternate google"><i class="fa fa-facebook"></i>login using Google+</a>
    <a href="" class="alternate yahoo"><i class="fa fa-facebook"></i>login using Yahoo</a>
    <a ui-sref="auth.login" class="alternate-login">Member Login</a>
</div>