<div class="google-map" map-lazy-load="http://maps.google.com/maps/api/js">
    <map center="41,-87" zoom="5" disable-default-u-i="true"></map>
</div>
<div class="listing-list-wrapper" id="listing" ng-iscroll="listing" ng-iscroll-delay='50'>
    <ul>
        <li class="list-item">
        	<div class="thumbnail">
        		<h5>$ 500.00</h5>
        		<h4>Dalhousie</h4>
        		<h6>By Priyank Patel</h6>
        		<div class="overlay"></div>
        		<img src="http://real-estate.aws.ipv4.ro/rtl/images/photodune-196089-house-xs.jpg" alt="">
        	</div>
        	<div class="content">
        		<a><i class="fa fa-map-marker"></i> 32 Simcoe St N</a>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        	</div>
        </li>
        <li class="list-item">
        	<div class="thumbnail">
        		<h5>$ 500.00</h5>
        		<h4>Dalhousie</h4>
        		<h6>By Priyank Patel</h6>
        		<div class="overlay"></div>
        		<img src="http://real-estate.aws.ipv4.ro/rtl/images/photodune-196089-house-xs.jpg" alt="">
        	</div>
        	<div class="content">
        		<a><i class="fa fa-map-marker"></i> 32 Simcoe St N</a>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        	</div>
        </li>
        <li class="list-item">
        	<div class="thumbnail">
        		<h5>$ 500.00</h5>
        		<h4>Dalhousie</h4>
        		<h6>By Priyank Patel</h6>
        		<div class="overlay"></div>
        		<img src="http://real-estate.aws.ipv4.ro/rtl/images/photodune-196089-house-xs.jpg" alt="">
        	</div>
        	<div class="content">
        		<a><i class="fa fa-map-marker"></i> 32 Simcoe St N</a>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        	</div>
        </li>
        <li class="list-item">
        	<div class="thumbnail">
        		<h5>$ 500.00</h5>
        		<h4>Dalhousie</h4>
        		<h6>By Priyank Patel</h6>
        		<div class="overlay"></div>
        		<img src="http://real-estate.aws.ipv4.ro/rtl/images/photodune-196089-house-xs.jpg" alt="">
        	</div>
        	<div class="content">
        		<a><i class="fa fa-map-marker"></i> 32 Simcoe St N</a>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        	</div>
        </li>
    </ul>
</div>
<div class="listing-detail-wrapper">
    lol
</div>